{% extends 'snippets/byline.html' %}

{% load i18n %}

{% block content %}
<ul class="list-inline">
  {% with status=obj.status %}
  <li class="list-inline-item">
    {% trans 'Status' %}:
    {% if status == 1 %}
    <span class="badge bg-success">{% trans 'Confirmed' %}</span>
    {% elif status == 0 %}
    <span class="badge bg-warning">{% trans 'Option' %}</span>    
    {% else %}
    <span class="badge bg-danger">{% trans 'Cancelled' %}</span>
    {% endif %}
  </li>
  {% endwith %}
  <li class="list-inline-item">
    {% trans 'Pax' %}: {{ obj.pax }}
  </li>
  <li class="list-inline-item">
    {% trans 'Products' %}:
    {% for prd in obj.list_bookingproducts %}
    {{ prd.quantity }} &times; {{ prd.cruiseproduct.product }}
    {% endfor %}
  </li>  
</ul>

{% endblock %}
