{% extends 'base_listing.html' %}

{% load i18n djbosui_tags %}

{% block content %}

<div class="accordion" id="cruises">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button"
	      data-bs-toggle="collapse" data-bs-target="#collapsePlanned"
	      aria-expanded="true" aria-controls="collapsePlanned">
        {% trans 'Planned' %}
      </button>
    </h2>
    <div id="collapsePlanned" class="accordion-collapse"
	 data-bs-parent="#cruises">
      <div class="accordion-body">
	{% listing '' view.list_planned %}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button"
	      data-bs-toggle="collapse" data-bs-target="#collapseArchived"
	      aria-expanded="false" aria-controls="collapseArchived">
        {% trans 'Archived' %}
      </button>
    </h2>
    <div id="collapseArchived" class="accordion-collapse collapse"
	 data-bs-parent="#cruises">
      <div class="accordion-body">
	{% listing '' view.list_archived %}
      </div>
    </div>
  </div>  
</div>

{% endblock %}
